
#
#  Modem related services
#

service ccci_fsd /system/vendor/bin/ccci_fsd 0
    user radio
    group radio system
    class core
    oneshot

service ccci3_fsd /system/vendor/bin/ccci_fsd 2
    user radio
    group  radio system
    class core
    oneshot

