service ccci_mdinit /vendor/bin/ccci_mdinit 0
    user system
    group radio system
    class core
    oneshot

service ccci3_mdinit /vendor/bin/ccci_mdinit 2
    user system
    group radio system
    class core
    oneshot

